In [ ]:
Q1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].
Sol:

In [1]:
# replace the start_year and end_year with the appropriate values
start_year = 1984
end_year = 1989

# create the years_list using range and list comprehension
years_list = [year for year in range(start_year, end_year + 1)]

# print the years_list
print(years_list)

[1984, 1985, 1986, 1987, 1988, 1989]

In [ ]:
Q2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.
Sol:

In [2]:
# replace the birth_year with your actual birth year
birth_year = 1984

# calculate the year of your third birthday
third_birthday_year = birth_year + 3

# find the corresponding year in years_list
year_of_third_birthday = years_list[third_birthday_year - birth_year - 1]

# print the year of your third birthday
print(year_of_third_birthday)

1986

In [ ]:
Q3.In the years list, which year were you the oldest?
Sol:

In [4]:
# replace the start_year and end_year with the appropriate values
start_year = 1984
end_year = 1989

# create the years_list using range and list comprehension
years_list = [year for year in range(start_year, end_year + 1)]

# calculate the year in which you were the oldest
oldest_year = years_list[-1]

# print the year in which you were the oldest
print(oldest_year)

1989

Q4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.
Sol:

In [5]:
# create the things list
things = ["mozzarella", "cinderella", "salmonella"]

# print the things list
print(things)

['mozzarella', 'cinderella', 'salmonella']

Q5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?
Sol:

In [6]:
# create the things list
things = ["mozzarella", "cinderella", "salmonella"]

# capitalize the second element
things[1] = things[1].capitalize()

# print the modified list
print(things)

['mozzarella', 'Cinderella', 'salmonella']

In [ ]:
6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;
Sol:

In [7]:
# create the surprise list
surprise = ["Groucho", "Chico", "Harpo"]

# print the surprise list
print(surprise)

['Groucho', 'Chico', 'Harpo']

In [ ]:
Q7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
Sol:

In [8]:
# create the surprise list
surprise = ["Groucho", "Chico", "Harpo"]

# get the last element of the list
last_element = surprise[-1]

# lowercase the last element, reverse it, and capitalize it
new_last_element = last_element.lower()[::-1].capitalize()

# replace the last element in the surprise list with the new element
surprise[-1] = new_last_element

# print the modified surprise list
print(surprise)

['Groucho', 'Chico', 'Oprah']

Q8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.
Sol:

In [9]:
# create the e2f dictionary
e2f = {"dog": "chien", "cat": "chat", "walrus": "morse"}

# print the e2f dictionary
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [ ]:
Q9. Write the French word for walrus in your three-word dictionary e2f.
Sol:

In [10]:
e2f["walrus"]

'morse'

In [ ]:
Q10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
Sol:

In [11]:
f2e = {french: english for english, french in e2f.items()}

# print the f2e dictionary
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [ ]:
Q11. Print the English version of the French word chien using f2e.
Sol:

In [12]:
# create the e2f dictionary
e2f = {"dog": "chien", "cat": "chat", "walrus": "morse"}

# create the f2e dictionary by swapping keys and values in e2f
f2e = {french: english for english, french in e2f.items()}

# get the English word for "chien" from f2e
english_word = f2e["chien"]

# print the English word for "chien"
print(english_word)

dog

In [ ]:
Q12. Make and print a set of English words from the keys in e2f.
Sol:

In [16]:
englishset=set(e2f.keys())
print(englishset)

{'dog', 'cat', 'walrus'}

Q13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.
Sol:

In [17]:
# create the life dictionary
life = {
    "animals": {
        "cats": ["Henri", "Grumpy", "Lucy"],
        "octopi": {},
        "emus": {}
    },
    "plants": {},
    "other": {}
}

# print the life dictionary
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

In [ ]:
Q14. Print the top-level keys of life.
Sol:

In [18]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

Q15. Print the keys for life[&#39;animals&#39;].
Sol:

In [20]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

Q16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]
Sol:

In [23]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']